@using TRan.CinemaUniverse.Web.ViewModels.Home
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cinema Universe</h1>
    <p class="lead">Our awesome Cinema - old, but gold films</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var movie in Model.Movies)
    {
        @Html.Partial("_MovieDetailsPartial", movie)
    }
</div>

