@using TRan.CinemaUniverse.Web.ViewModels.Home
@model MovieViewModel

<div class="col-md-4">
    <h2>@Model.Title</h2>
    <img src="@Model.ImageUrl" alt="Movie Picture" style="max-width:100px" />
    <p>@Model.Description</p>
    <p>@Model.Director</p>
</div>
