@using TRan.CinemaUniverse.Web.ViewModels.Home
@model MovieViewModel

<div class="col-md-4">
    <div class="col-md-6">        
        <img src="@Model.ImageUrl" alt="Movie Picture" style="max-width:130px" />
        <h2>@Model.Title</h2>
        <br />
        @Html.ActionLink("Details", "Details", "DisplayMovies", new { id=Model.Id }, new { @class = "btn btn-info" })
    </div>
    <div class="col-md-6">        
        <p>@Model.Description</p>
    </div>    
</div>
